@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-biru-wallacea{
    background-color: #1C2B40;
}

.text-biru-wallacea{
    color: #1C2B40;
}

.border-biru{
    border-color: #1C2B40;
}

.text-kuning-wallacea{
    color: #F3BC44;
}

.bg-wallacea{
    background-color: #F3BC44;
}

.border-kuning{
    border-color: #F3BC44;
}

.border-t-kuning{
    border-top-color: #F3BC44;
}

.text-xss {
    font-size: 0.55rem/* 12px */;
    line-height: 1rem/* 16px */;
}

.bg-hpk{
    background-color: #ff5eff;
}
.bg-kk{
    background-color: #ad40ff;
}

.bg-hl{
    background-color: #01ad00;
}
.bg-hpt{
    background-color: #8af200;
}

.bg-hp{
    background-color: #ffff00;
}

.bg-apl{
    background-color: #fef9f1;
}
.bg-tubuhair{
    background-color: #0000ff;
}

.bg-deforestasi2023{
    background-color: #F03A47;
}

.border-kantonghabitat{
    --tw-border-opacity: 1;
    border-color: #ff7f7f;
}
.bg-pbph-ht{
    background-color: #e9c46a;
}

.bg-pbph-ha{
    background-color: #2a9d8f;
}

.bg-pbph-re{
    background-color: #264653;
}

.bg-iup{
    background-color: #e76f51;
}

.bg-hgu{
    background-color: #406eb3;
}

.bg-hutan-alam{
    background-color: #006a4e;
    opacity: 0.5;
}










/* bmswitcher */
.bmHidden{
	display: none;
}

.leaflet-control-bmSwitcher .bmContainer{
    height: auto;
    width: auto;
    display:flex;
}

.bmSwitcher-modal.backdrop{
	top: 0;
	z-index: 1000;
	width: 100%;
    height: 0;
    overflow: hidden;
	background-color: #3333;
	position: fixed;
	display: flex;
    transition: opacity .3s ease-out;
    opacity: 0;
	align-items: center;
	justify-content: center;
}

.bmSwitcher-modal.show{
    opacity: 1;
	height: 100vh;
}

.bmSwitcher-modal.hide{
    opacity: 0;
	height: 100vh;
}

.bmSwitcher-modal .bmModal{
	background-color: #fff;
	border-radius: 10px;
	width: calc(100% - 40px);
	min-height: 300px;
    max-height: calc((100vh - 80px));
	overflow:hidden;
	padding-bottom: 20px;
}

.bmSwitcher-modal .bmHeader{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.bmSwitcher-modal .bmHeader h3{
    padding: 0;
    margin: 0;
}

.bmSwitcher-modal .bmClose{
	cursor: pointer;
}

.bmSwitcher-modal .bmBody{
	padding: 0 0px;
}

.bmImage .active::before{
    color:white;
    content: '✓';
    width: 18px;
    height: 18px;
    background-color: #376A64;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: 2px;
}
.bmSwitcher-modal .active::before{
    top: 5px;
    right: 5px;
}

.leaflet-control-bmSwitcher .bmImage{
    background-color: #fff;
    box-shadow: 2px 2px 10px #4442;
    margin:5px;
    padding:5px;
    border-radius: 5px;
}


.leaflet-control-bmSwitcher .bmImage div{
    background-size:cover;
    width: 70px;
    height: 70px;
    border-radius: 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bmImage div .name{
    width:100%;
    padding: 10px;
    height:auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding:1px;
}


.bmSwitcher-modal .bmContainer{
    padding: 0 10px;
    margin: 0;
    height: calc(100vh - 80px);
    overflow-x: hidden;
}

.bmSwitcher-modal .bmImage{
    background-size:cover;
    display: inline-block;
    width:  50%;
    aspect-ratio: 1/1;
    padding: 10px;
}


.bmSwitcher-modal .bmImage div{
    background-size:cover;
    height: 100% !important;
    border-radius: 3px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bmSwitcher-modal .bmImage div .name{
    height:fit-content !important;
    padding:10px 0 !important;
    font-weight: bold;
}

.bmContainer:hover{
    cursor: pointer;
}

.bmImage div .check{
    position: relative;
    content:''
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgba(253, 253, 253, 0.5) !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background-color: black;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}
